*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333;
  background-color: #dfdfdf; }

.typed-cursor {
  color: #333;
  font-size: 3rem; }
  @media only screen and (max-width: 425px) {
    .typed-cursor {
      color: #efefef; } }

.col {
  justify-content: center;
  text-align: center; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin: 5.5rem 0;
  text-transform: uppercase;
}
  @media only screen and (max-width: 425px) {
    h2 {
      font-size: 3rem; } }

h2:after {
  display: block;
  height: 2px;
  background-color: #333;
  content: " ";
  width: 70px;
  margin: 0 auto;
  margin-top: 50px; }

p {
  font-family: 'Inconsolata', monospace;
  font-size: 2rem;
  line-height: 2.25; }
  @media only screen and (max-width: 425px) {
    p {
      font-size: 1.8rem;
      text-align: left;
      line-height: 1.7; } }

a:link, a:visited {
  font-family: 'Inconsolata', monospace;
  color: inherit;
  transition: .2s all;
  text-decoration: none; }

a:hover {
  color: #888; }

.text-bold {
  text-align: center; }
  @media only screen and (max-width: 425px) {
    .text-bold {
      text-align: left; } }

.page-section {
  padding: 12rem 0; }
  @media only screen and (max-width: 425px) {
    .page-section {
      padding: 8rem 0; } }
  .page-section__img {
    height: 50rem;
    width: auto; }
    @media only screen and (max-width: 768px) {
      .page-section__img {
        height: 30rem; } }
    @media only screen and (max-width: 425px) {
      .page-section__img {
        height: 25rem; } }
    @media only screen and (max-width: 375px) {
      .page-section__img {
        height: 20rem; } }
  .page-section .underline {
    text-decoration: underline; }

.hero {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../img/hero4.jpg");
  background-size: cover;
  text-align: center;
  height: 100vh; }
  @media only screen and (max-width: 1024px) {
    .hero {
      background-position-x: 60%;
      color: #777; } }
  @media only screen and (max-width: 768px) {
    .hero {
      background-position-x: 70%; } }
  @media only screen and (max-width: 425px) {
    .hero {
      background-position-x: 80%; } }
  .hero__content {
    top: 50%;
    transform: translatey(-50%); }
    @media only screen and (max-width: 425px) {
      .hero__content {
        top: 52%; } }
    .hero__content h1 {
      font-family: 'Playfair Display', serif;
      text-transform: uppercase;
      font-size: 6rem;
      font-weight: 900;
      letter-spacing: 1px; }
      @media only screen and (max-width: 425px) {
        .hero__content h1 {
          font-size: 4rem; } }
    .hero__content span#typed {
      font-size: 3rem;
      font-weight: 400; }
      @media only screen and (max-width: 425px) {
        .hero__content span#typed {
          font-size: 2rem; } }

.me {
  background-image: url("../img/white-2.jpg");
  background-size: cover;
  padding: 10rem 0; }

.font-img {
  width: 50rem;
  height: auto; }
  @media only screen and (max-width: 425px) {
    .font-img {
      width: 32rem; } }

.tech {
  margin-top: 8rem; }
  .tech i {
    font-size: 5rem;
    margin: 0 2rem; }
    @media only screen and (max-width: 767px) {
      .tech i {
        font-size: 3.5rem;
        margin: 0 1rem; } }
    @media only screen and (max-width: 425px) {
      .tech i {
        font-size: 3rem; } }
    @media only screen and (max-width: 375px) {
      .tech i {
        font-size: 2.5rem; } }
  .tech .faded {
    color: #999; }

footer {
  margin-bottom: 100px; }
  footer a:link, footer a:visited {
    text-decoration: none;
    font-size: 3rem;
    color: inherit;
    margin: 0 2rem;
    transition: .2s all; }
    @media only screen and (max-width: 767px) {
      footer a:link, footer a:visited {
        font-size: 2rem; } }
    @media only screen and (max-width: 425px) {
      footer a:link, footer a:visited {
        font-size: 1.6rem;
        margin: 0 1.2rem; } }
  footer a:hover {
    color: #555; }
