*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; }

.hero-text {
  font-size: 3rem;
  font-weight: 800;
  color: #333;
  text-transform: uppercase; }

.hero-sub-text {
  font-size: 1.6rem;
  color: #888; }

.colorbox {
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
  color: #888; }

#color {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 30px;
  height: 30px; }

#color::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0; }

#color::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0; }

/*-------------------------------------------*/
.grad-1 {
  background-color: #74EBD5;
  background-image: linear-gradient(to right bottom, #74EBD5, #9FACE6);
  height: 80vh;
  border-radius: 1rem;
  position: relative; }
  .grad-1 .background {
    color: #fff;
    font-size: 25rem;
    font-weight: 100;
    opacity: .1; }
  .grad-1 .grad-1-text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 990px) {
      .grad-1 .grad-1-text {
        width: 80%; } }
    .grad-1 .grad-1-text .grad-1-heading {
      font-size: 4.5rem;
      font-weight: 100; }
    .grad-1 .grad-1-text .grad-1-subtext {
      font-size: 1.8rem;
      font-weight: 300; }
    .grad-1 .grad-1-text .btn {
      color: #fff;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 50px;
      padding: 7px 25px;
      font-size: 1.6rem;
      display: inline-block;
      vertical-align: center; }
    .grad-1 .grad-1-text .btn:hover {
      background: transparent;
      border: 1px solid #74EBD5;
      color: #74EBD5; }

/*-------------------------------------------*/
.grad-2 {
  background-color: #D9AFD9;
  background-image: linear-gradient(#97D9E1, #D9AFD9);
  height: 80vh;
  border-radius: 1rem;
  font-family: 'Quicksand', sans-serif;
  position: relative; }
  .grad-2 .navbar-nav > .nav-item > .nav-link:link,
  .grad-2 .navbar-nav > .nav-item > .nav-link:visited {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    width: 100%; }
  .grad-2 h2 {
    width: 100%;
    border-bottom: 1px solid #97D9E1;
    line-height: 0.1em;
    margin: 10px 0 20px; }
  .grad-2 .grad-2-textbox {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 990px) {
      .grad-2 .grad-2-textbox {
        left: 55%; } }
    .grad-2 .grad-2-textbox .grad-2-heading {
      font-size: 4rem;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase; }
    .grad-2 .grad-2-textbox .grad-2-subtext {
      font-size: 2rem;
      font-weight: 300;
      color: #fff; }
  .grad-2 .plain-box {
    background-color: #fff;
    height: 25rem;
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px 0 rgba(220, 220, 220, 0.2), 0 6px 20px 0 rgba(20, 0, 0, 0.19); }
    @media only screen and (max-width: 990px) {
      .grad-2 .plain-box {
        display: none; } }
  .grad-2 .fa {
    color: #D9AFD9;
    font-size: 9rem;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    position: absolute; }
    @media only screen and (max-width: 990px) {
      .grad-2 .fa {
        display: none; } }

/*------------------------------------------*/
.grad-3 {
  background-image: linear-gradient(#d166c7, #a1c3d1);
  height: 80vh;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  position: relative; }
  .grad-3 .custom-toggler {
    margin: 3rem;
    border: none; }
    .grad-3 .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,225,225)' stroke-width='4' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      font-size: 16px; }
  .grad-3__herotext {
    font-size: 40rem;
    font-weight: 800;
    display: inline-block;
    background-image: url("../img/run-pink.jpg");
    background-size: cover;
    background-position: 0% 55%;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 990px) {
      .grad-3__herotext {
        font-size: 30rem; } }
  .grad-3__subhero {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff; }
    .grad-3__subhero-top {
      position: absolute;
      top: 24%;
      left: 20%; }
    .grad-3__subhero-bottom {
      position: absolute;
      top: 64%;
      left: 60%; }
  .grad-3__text {
    text-align: center;
    color: #fff;
    width: 60%;
    margin-left: 20%;
    position: absolute;
    top: 72%; }
    .grad-3__text-reg {
      font-size: 1.2rem; }
    .grad-3__text-bold {
      font-size: 2rem;
      font-weight: 500; }
      @media only screen and (max-width: 990px) {
        .grad-3__text-bold {
          font-size: 1.6rem; } }
    .grad-3__text-btn:link, .grad-3__text-btn:visited {
      display: inline-block;
      margin-top: 10px;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
      border: 3px solid #fff;
      padding: 10px 20px;
      transition: .5s; }
      @media only screen and (max-width: 990px) {
        .grad-3__text-btn:link, .grad-3__text-btn:visited {
          font-size: 1.6rem; } }
    .grad-3__text-btn:hover {
      color: #cd22a9;
      border: 3px solid #cd22a9;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

/*------------------------------------------*/
.grad-4 {
  background-image: linear-gradient(to right bottom, #9447d9, #3adcd2);
  height: 80vh;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  position: relative; }

.grad-5 {
  background-color: #08AEEA;
  background-image: linear-gradient(#08AEEA, #2AF598);
  height: 80vh;
  border-radius: 1rem; }

/*------------------------------------------*/
.grad-6 {
  background-color: #08AEEA;
  background-image: linear-gradient(to right bottom, #2e144b, #006b8c);
  height: 80vh;
  border-radius: 1rem; }

/*------------------------------------------*/
.footer-text {
  font-size: 1.75rem;
  text-align: center; }
