// COLORS
$base-text-color: #333;
$white-color: #fff;
$background-color: #dfdfdf;
$hover-color: #888;

// BASICS
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	line-height: 1.7;
	color: $base-text-color;
	background-color: $background-color;
	overflow-x: hidden;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;
}

// REUSABLE COMPONENTS

.typed-cursor {
	color: $base-text-color;
	font-size: 3rem;
	@media only screen and (max-width: 425px){
		color: #efefef;
	}
}

.col{
	justify-content: center;
	text-align: center;
}

h2{
	font-family: 'Playfair Display', serif;
	font-size: 4rem;
	font-weight: 700;
	margin: 5.5rem 0;
	@media only screen and (max-width: 425px){
		font-size: 3rem;
	}
}

h2:after{
	display: block;
	height: 2px;
	background-color: $base-text-color;
	content: " ";
	width: 70px;
	margin: 0 auto;
	margin-top: 50px;
}

h2:last-child:after{
	display: none;
}

p{
	font-size: 2rem;
	line-height: 2.25;
	@media only screen and (max-width: 425px){
		text-align: left;
		line-height: 1.7;
	}
}

a{
	&:link,
	&:visited{
		color: inherit;
		transition: .2s all;
		text-decoration: none;
	}

	&:hover{
		color: $hover-color;
	}
}

.text-bold {
	// margin-top: 5rem;
	text-align: center;
	font-weight: 500;
	@media only screen and (max-width: 425px){
		text-align: left;
	}
}

.page-section {
	padding: 30rem 0;

	&__img{
		height: 50rem;
		width: auto;

		@media only screen and (max-width: 768px){
			height: 30rem;
		}
		
		@media only screen and (max-width: 425px){
			height: 25rem;
		}		
		
		@media only screen and (max-width: 375px){
			height: 20rem;
		}	
	}
}

// SECTION-HERO
.hero{
	background-image: linear-gradient(to right, rgba($white-color,.1), rgba($white-color,.1)), url("../img/hero4.jpg");
	background-size: cover;
	text-align: center;
	height: 100vh;
	// background-attachment: fixed;

	@media only screen and (max-width: 1024px){
		background-position-x: 60%;
		color: #777;
	}

	@media only screen and (max-width: 768px){
		background-position-x: 70%;
	}

	@media only screen and (max-width: 425px){
		background-position-x: 80%;
	}	


	&__content{
		top: 50%;
		transform: translatey(-50%);
		@media only screen and (max-width: 425px){
			top: 52%;
		}
		
		h1 {
			font-family: 'Playfair Display', serif;
			text-transform: uppercase;
			font-size: 6rem;
			font-weight: 900;
			letter-spacing: 1px;
			@media only screen and (max-width: 425px){
				font-size: 4rem;
			}
		}
		
		span#typed{
			font-size: 3rem;
			font-weight: 400;
			@media only screen and (max-width: 425px){
				font-size: 2rem;
			}		
		}
	}
}


// SECTION ABOUT ME
.me{
	background-image: url("../img/white-2.jpg");
	background-size: cover;
	padding: 10rem 0;
} 

// FONTINATION
.font-img{
	width: 50rem;
	height: auto;

	@media only screen and (max-width: 425px){
		width: 32rem;
	}
}

// TECHNOLOGIES
.tech {
	margin-top: 8rem;

	i {
		font-size: 5rem;
		margin: 0 2rem;
	@media only screen and (max-width: 767px){
			font-size: 3.5rem;
			margin: 0 1rem;
		}

	@media only screen and (max-width: 425px){
			font-size: 3rem;
			margin: 0 1rem;
		}
	}
}

// FOOTER
footer{
	margin-bottom: 100px;
	
	a{
		&:link,
		&:visited{
			text-decoration: none;
			font-size: 3rem;
			color: inherit;
			margin: 0 2rem;
			transition: .2s all;

			@media only screen and (max-width: 767px){
				font-size: 2rem;
			}
		}

		&:hover{
			color: #555;
		}
	}
}
